
label{
    color: white;
    font-size: 25px;
    margin-top: 30px;
}

input{
    text-align: left;
    width: 350px;
    padding: 13px;
    margin-top: 10px;
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    transition: all 0.3s ease;
    
}


.Form{

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding:30px ;

    width: 550px;
    height: 550px;

    border:2px;
    border-style: solid;
    border-color: azure;

    /* blur background */
    background: rgba(165, 162, 162, 0.08);

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(30px);

    border: 2px solid rgba(255,255,255,0.2);

    border-radius: 15px;

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);


}
.FormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("/Images/Back.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
 
 /*   border:2px;
    border-style: solid;
    border-color: azure;
    padding: 2px;
*/    
}

.button{
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.15);
    font-size: 20px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 7px;
    border-style: solid;
    border-color: aliceblue;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
}


button{
    transition: all 0.3s ease;
}

button:hover{
    background-color: rgb(24, 219, 24);
    color: black;
    border: 2px solid rgb(245, 239, 239);
    font-weight: bold;
}

.Div{

    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    max-width: 100%;

    /* border: 1px;
    border-style: solid;
    border-color: white;
     */
}

.Head{
    text-align: center;
    font-size: 60px;
    color: white;
}

body{
    margin: 0;
}

input:focus{
    outline: none;

    border: 1px solid #00ff88;

    box-shadow: 0 0 15px rgba(0,255,136,0.5);

    transform: scale(1.03);
}

input::placeholder{
    color: rgba(255,255,255,0.7);
}