.container{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.head-1{
    text-align: center;
    color: blanchedalmond;
    font-size: 60px;
}

body{
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 950px;
}


.button{
    margin-top: 30px;
    color: white;
    font-size: 25px;
    border-radius: 14px;
    padding: 8px;
    background-color: blueviolet;
    border-color: aliceblue;
}

.button:hover{
    background-color: chartreuse;
    color: black;
}

.link{
    margin-top: 30px;
    font-size: 40px;
    font-style: italic;
    color: blue;
}

.link:hover{
    color: azure;
}

.Body{
    background-image: url("/Images/BackCourse.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}